<ion-view view-title="{{Organization[1]}}">
  <ion-nav-buttons side="right"  >
    <button class="button" ng-click="newCourse()">
      <i class="icon icon-left ion-plus-round"></i>
      <i class="icon icon-left ion-university"></i>
    </button>
  </ion-nav-buttons>
  <ion-content  class="padding">
    <div ng-init="callCourses()">
      <ion-list >
        <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="curso in cursos" ng-click="callToAddToClassList(curso.id, curso.nombre)" href="#/tab/organizations/{{organization.id}}/{{curso.id}}">
          <img ng-src="img/curso.png">
          <h2>{{curso.nombre}}</h2>
          <p>{{curso.nivel}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
