<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Agregar Estudiante</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewStudent()">Cerrar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createNewStudent()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="newStudentData.nombre">
        </label>
        <label class="item item-input">
          <span class="input-label">Apellido</span>
          <input type="text" ng-model="newStudentData.apellido">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Crear</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>