<ion-view view-title="{{Class[1]}}">
  <ion-nav-buttons side="right"  >
    <button class="button" ng-click="newStudent()">
      <i class="icon icon-left ion-plus-round"></i>
      <i class="icon icon-left ion-university"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list >
        <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="alumno in alumnos">
          <img ng-src="img/default.jpg">
          <h2>{{alumno.nombre}}</h2>
          <p>{{alumno.apellido}}</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
