
	<ion-view view-title="Descargas">
		<span id="user"></span>
	  	<ion-content class="padding">
	  		<div ng-show="accountIsVisible">
		      <div id="account-img">
		        <img class="full-screen" src="/img/default.jpg">
		        <button class="button button-block button-positive" ng-click="login()">Iniciar Sesion</button>
		      </div>
		    </div>
		    <div  ng-show="pageIsVisible">
		    	<div class="list" ng-init="ordenarDescarga()">
				  <label class="item item-input item-select">
				    <div class="input-label">
				     Ordenar por:
				    </div>
				    <select id="combo" ng-model="selectedItem" ng-options="option for option in listOfOptions" ng-change="ordenarDescarga(selectedItem)">
				    </select>

				  </label>
				  <div id="contenedor">
				    	
				    </div>
				</div>
			</div>
	  	</ion-content>
  	</ion-view>