
	<ion-view view-title="Descargas">
	<ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="login()">
        </button>
    </ion-nav-buttons>
	  	<ion-content class="padding">
	  		<div class="list" ng-init="ordenarDescarga()">
			  <label class="item item-input item-select">
			    <div class="input-label">
			     Ordenar por:
			    </div>
			    <select id="combo" ng-model="selectedItem" ng-options="option for option in listOfOptions" ng-change="ordenarDescarga(selectedItem)">
			    </select>

			  </label>
			  <div id="contenedor">
			    	
			    </div>
			</div>
	  	</ion-content>
  	</ion-view>