<ion-view view-title="Account">
  <ion-content class="padding">
      <div ng-show="accountIsVisible">
        <img class="full-screen" src="/img/default.jpg">
        <button class="button button-block button-positive" ng-click="login()">Iniciar Sesion</button>
      </div>
      <div  ng-show="pageIsVisible" class="line">
        <ion-card>
    			<ion-item class="item-avatar">
    				<img src="#"  onerror="this.src='/img/default.jpg'"/>
    				<h2>{{user[1]}}</h2>
    				<p>{{user[2]}}</p>
    				<p>...</p>
    				<button ng-click="editPerson()">Editar</button>
    			</ion-item>
    		</ion-card>
      </div>
  </ion-content>
</ion-view>