<ion-view view-title="Inicio">
  <ion-content class="full">
      <div ng-show="accountIsVisible">
        <img class="full-screen" src="/img/default.jpg">
        <button class="button button-block button-positive" ng-click="login()">Iniciar Sesion</button>
      </div>
      <div class="home_background" ng-show="pageIsVisible">
        <div class="teacher_background">
          <div class="bubble_background">
            <div class="welcome_background"></div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>