    <div id="fondo" style="
  ">
    
    	<div  class="spray">
    		<img src="img/transparente.png">
    	</div>
      <div class="complete row" >
          <input class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt.focus()"/>
          <input id="txt" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt1.focus()"/>
          <input id="txt1" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt2.focus()"/>
          <input id="txt2" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt.focus()"/>
       </div>
     </div>
     