<ion-view view-title="Browse">
	<ion-content>
		<form class="list" name="form" ng-submit="createActibity(dataForm)" novalidate>
			<label class="item item-input item-select">
				<div class="input-label">
					Nivel: 
				</div>
				<select id="combo" name="actibityForm" ng-model="dataForm.selectedLvl" ng-options="option.title for option in selectOptions"></select>
			</label>
			<div id="time" class="item range range-energized">
				<i class="icon ion-ios-stopwatch-outline"></i>
				<input type="range" name="time" ng-model="dataForm.time" min="0" max="60">
				<i class="icon ion-ios-stopwatch"></i>
			</div>

			<label class="item item-input">
				Tiempo por pregunta: 
				<div class="item ">
					{{dataForm.time}}
				</div>
				seg
			</label>

			<label class="item item-input item-select">
				<div class="input-label">
					Establecimiento: 
				</div>
				<select id="comboOrganizations" ng-model="dataForm.selectedOrg"  ng-options="option.nombre for option in organizations" ng-change="callToAddToOrganizationList(dataForm.selectedOrg)" disabled></select>
				<ion-spinner id="spinOrganizations" class="ios-small"></ion-spinner>
			</label>

			<label id="lblCourse" class="item item-input item-select">
				<div class="input-label">
					Curso: 
				</div>
				<select id="comboCourse" ng-model="dataForm.selectedCourse" ng-options="option.nombre for option in courses" disabled></select>
				<ion-spinner id="spinCourse" class="ios-small"></ion-spinner>
			</label>
			<button class="button button-full icon-left ion-checkmark-circled button-positive" type="submit">Crear desafio</button>
		</div>
	</ion-content>
</ion-view>
