<ion-view view-title="Niveles">
	<ion-content>
		<div ng-view class="list list-inset">
			<input type="radio" id="rad{{level.name}}"
			ng-repeat="level in levels" />
			<!-- style="display:none;" -->
			<div class="list"  ng-repeat="level in levels"  id="{{level.name}}" >
				<div class="button-bar">
					<a class="item item-avatar button button-balanced" ui-sref="app.{{level.link}}" style="width:73%;" ng-click="startLevels(level.id)" >
						<img src="img/{{level.img}}" style="border-radius:0%;">
						<h2>{{level.title}}</h2>
						<p style="text-overflow: ellipsis;    overflow: hidden;">{{level.description}}</p>
					</a>
					<button id="comment{{level.id}}" class="button button-balanced" ui-sref="app.comments"   ng-click="startLevels(level.id)">Comentarios</button>
				</div>
			</div>
		<!-- <div class="gris" style="background-color: #ccc;" id="{{level.name}}" ng-repeat="level in levels">
		</div> -->
		</div>
	</ion-content>
</ion-view>
<!--  style="background-image: url('../img/{{level.img}}'); color: black; " -->
