<ion-view view-title="Playlist">
  <ion-content>
    <div >
    	<div class="list card">
		  <div class="item item-avatar">
		    <img src="avatar.jpg">
		    <h2>Pretty Hate Machine</h2>
		    <p>Nine Inch Nails</p>
		  </div>
		  <div class="item item-image">
		    <img src="cover.jpg">
		  </div>
		  <!--ui-sref="app.levels"-->
		  <a class="item item-icon-left assertive" ui-sref="app.levels" ng-click="pasarNivel()" >
		    <i class="icon ion-music-note"></i>
		    Start listening
		  </a>
		</div>
    </div>
  </ion-content>
</ion-view>
