<ion-view view-title="Playlist">
  <ion-content>
    <div class="d-card">
    	<div class=" d-corner d-corner-off"><i class="icon ion-android-star energized"></i></div>
    	<div class="list card ">
    	
		  <div class="item item-avatar">

		    <img src="img/FUUU.png">
		    <h2>Usuario</h2>
		    <p>Sinonimos</p>
		  </div>

		  <div class="item">
		    <i class="icon ion-social-usd-outline">&nbsp; {{score}}</i>
		    <br/>
		    <i class="icon ion-clock">Extra:&nbsp; {{timer}} </i>
		  </div>
		  <!--ui-sref="app.levels"-->
		  <a class="item item-icon-right positive" ui-sref="app.levels" ng-click="pasarNivel()" >
		    Continuar
		    <i class="icon ion-ios-play"></i>
		  </a>
		</div>
    </div>
  </ion-content>
</ion-view>
