<ion-view view-title="Playlists" class="head">
<preference name="orientation" value="portrait/landscape" />
  <ion-content class="fondo">
  <span id="minutos">60</span> : <span id="segundos">00</span> 
    <div ng-view class="list list-inset">
        <input type="radio" id="rad{{playlist.name}}"
        ng-repeat="playlist in playlists" hidden/>
    	<div class="item niveles"  ng-repeat="playlist in playlists" ng-onload="setear()" id="{{playlist.name}}" >
    		<a class="item item-thumbnail-left link"  href="#/app/playlists/{{playlist.id}}" onclick="iniciar({{playlist}})" style="background-image: url('../img/{{playlist.img}}'); color: black; " >{{playlist.title}}
    		</a>
 		</div>
        <div class="gris" style="background-color: #ccc;" id="{{playlist.name}}" ng-repeat="playlist in playlists">
        </div>
    </div>
  </ion-content>
</ion-view>
<!--background-image="url('{{playlist.img}}')"-->