<div>
	<table style="width:100%">
		<tr style="width:100%; text-align: center; border: 1px solid black;">
		    <div style="width:100%;  text-align: center;"><span style="width:100%; text-align: center;">titulo</span></div>
		</tr>
		<tr style="width:100%">
			<td style="width:33%; text-align: center; border: 1px solid black;"><button style="width:90%;">A</button></td>
		    <td style="width:34%; text-align: center; border: 1px solid black;"><button style="width:90%;">B</button></td>
		    <td style="width:33%; text-align: center; border: 1px solid black;"><button style="width:90%;">C</button></td> 
		</tr>
	</table>
	
</div>