<ion-view hide-nav-bar="true" view-title="Sinonimos" class="fondo-synonymous">
	<ion-content >
		<ion-header-bar align-title="left" class="bar-balanced">
			<div class="col three-dimensions d-normal"><i class="icon ion-social-usd-outline">&nbsp; {{score}}</i> </div>
			<div class="col col-40 three-dimensions d-normal"><h1 class="title">Sinonimos</h1></div>
			<div id="timer" class="col three-dimensions d-normal"><i class="icon ion-clock">&nbsp; {{timer}}</i></div>
		</ion-header-bar>
		<div ng-init="loadBefore()" id="contenedor"></div>
	</ion-content>
</ion-view>