<ion-view view-title="Crucigrama">
  <ion-content>
    <div class="line row">
      <div class="square column s01_01"><input maxlength="1" class="inp column i01_01" /></div>
      <div class="square column s01_02"><input maxlength="1" class="inp column i01_02" /></div>
      <div class="square column s01_03"><input maxlength="1" class="inp column i01_03" /></div>
      <div class="square column s01_04"><input maxlength="1" class="inp column i01_04" /></div>
      <div class="square column s01_05"><input maxlength="1" class="inp column i01_05" /></div>
      <div class="square column s01_06"><input maxlength="1" class="inp column i01_06" /></div>
      <div class="square column s01_07"><input maxlength="1" class="inp column i01_07" /></div>
      <div class="square column s01_08"><input maxlength="1" class="inp column i01_08" /></div>
      <div class="square column s01_09"><input maxlength="1" class="inp column i01_09" /></div>
      <div class="square column s01_10"><input maxlength="1" class="inp column i01_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s02_01"><input maxlength="1" class="inp column i02_01" /></div>
      <div class="square column s02_02"><input maxlength="1" class="inp column i02_02" /></div>
      <div class="square column s02_03"><input maxlength="1" class="inp column i02_03" /></div>
      <div class="square column s02_04"><input maxlength="1" class="inp column i02_04" /></div>
      <div class="square column s02_05"><input maxlength="1" class="inp column i02_05" /></div>
      <div class="square column s02_06"><input maxlength="1" class="inp column i02_06" /></div>
      <div class="square column s02_07"><input maxlength="1" class="inp column i02_07" /></div>
      <div class="square column s02_08"><input maxlength="1" class="inp column i02_08" /></div>
      <div class="square column s02_09"><input maxlength="1" class="inp column i02_09" /></div>
      <div class="square column s02_10"><input maxlength="1" class="inp column i02_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s03_01"><input maxlength="1" class="inp column i03_01" /></div>
      <div class="square column s03_02"><input maxlength="1" class="inp column i03_02" /></div>
      <div class="square column s03_03"><input maxlength="1" class="inp column i03_03" /></div>
      <div class="square column s03_04"><input maxlength="1" class="inp column i03_04" /></div>
      <div class="square column s03_05"><input maxlength="1" class="inp column i03_05" /></div>
      <div class="square column s03_06"><input maxlength="1" class="inp column i03_06" /></div>
      <div class="square column s03_07"><input maxlength="1" class="inp column i03_07" /></div>
      <div class="square column s03_08"><input maxlength="1" class="inp column i03_08" /></div>
      <div class="square column s03_09"><input maxlength="1" class="inp column i03_09" /></div>
      <div class="square column s03_10"><input maxlength="1" class="inp column i03_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s04_01"><input maxlength="1" class="inp column i04_01" /></div>
      <div class="square column s04_02"><input maxlength="1" class="inp column i04_02" /></div>
      <div class="square column s04_03"><input maxlength="1" class="inp column i04_03" /></div>
      <div class="square column s04_04"><input maxlength="1" class="inp column i04_04" /></div>
      <div class="square column s04_05"><input maxlength="1" class="inp column i04_05" /></div>
      <div class="square column s04_06"><input maxlength="1" class="inp column i04_06" /></div>
      <div class="square column s04_07"><input maxlength="1" class="inp column i04_07" /></div>
      <div class="square column s04_08"><input maxlength="1" class="inp column i04_08" /></div>
      <div class="square column s04_09"><input maxlength="1" class="inp column i04_09" /></div>
      <div class="square column s04_10"><input maxlength="1" class="inp column i04_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s05_01"><input maxlength="1" class="inp column i05_01" /></div>
      <div class="square column s05_02"><input maxlength="1" class="inp column i05_02" /></div>
      <div class="square column s05_03"><input maxlength="1" class="inp column i05_03" /></div>
      <div class="square column s05_04"><input maxlength="1" class="inp column i05_04" /></div>
      <div class="square column s05_05"><input maxlength="1" class="inp column i05_05" /></div>
      <div class="square column s05_06"><input maxlength="1" class="inp column i05_06" /></div>
      <div class="square column s05_07"><input maxlength="1" class="inp column i05_07" /></div>
      <div class="square column s05_08"><input maxlength="1" class="inp column i05_08" /></div>
      <div class="square column s05_09"><input maxlength="1" class="inp column i05_09" /></div>
      <div class="square column s05_10"><input maxlength="1" class="inp column i05_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s06_01"><input maxlength="1" class="inp column i06_01" /></div>
      <div class="square column s06_02"><input maxlength="1" class="inp column i06_02" /></div>
      <div class="square column s06_03"><input maxlength="1" class="inp column i06_03" /></div>
      <div class="square column s06_04"><input maxlength="1" class="inp column i06_04" /></div>
      <div class="square column s06_05"><input maxlength="1" class="inp column i06_05" /></div>
      <div class="square column s06_06"><input maxlength="1" class="inp column i06_06" /></div>
      <div class="square column s06_07"><input maxlength="1" class="inp column i06_07" /></div>
      <div class="square column s06_08"><input maxlength="1" class="inp column i06_08" /></div>
      <div class="square column s06_09"><input maxlength="1" class="inp column i06_09" /></div>
      <div class="square column s06_10"><input maxlength="1" class="inp column i06_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s07_01"><input maxlength="1" class="inp column i07_01" /></div>
      <div class="square column s07_02"><input maxlength="1" class="inp column i07_02" /></div>
      <div class="square column s07_03"><input maxlength="1" class="inp column i07_03" /></div>
      <div class="square column s07_04"><input maxlength="1" class="inp column i07_04" /></div>
      <div class="square column s07_05"><input maxlength="1" class="inp column i07_05" /></div>
      <div class="square column s07_06"><input maxlength="1" class="inp column i07_06" /></div>
      <div class="square column s07_07"><input maxlength="1" class="inp column i07_07" /></div>
      <div class="square column s07_08"><input maxlength="1" class="inp column i07_08" /></div>
      <div class="square column s07_09"><input maxlength="1" class="inp column i07_09" /></div>
      <div class="square column s07_10"><input maxlength="1" class="inp column i07_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s08_01"><input maxlength="1" class="inp column i08_01" /></div>
      <div class="square column s08_02"><input maxlength="1" class="inp column i08_02" /></div>
      <div class="square column s08_03"><input maxlength="1" class="inp column i08_03" /></div>
      <div class="square column s08_04"><input maxlength="1" class="inp column i08_04" /></div>
      <div class="square column s08_05"><input maxlength="1" class="inp column i08_05" /></div>
      <div class="square column s08_06"><input maxlength="1" class="inp column i08_06" /></div>
      <div class="square column s08_07"><input maxlength="1" class="inp column i08_07" /></div>
      <div class="square column s08_08"><input maxlength="1" class="inp column i08_08" /></div>
      <div class="square column s08_09"><input maxlength="1" class="inp column i08_09" /></div>
      <div class="square column s08_10"><input maxlength="1" class="inp column i08_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s09_01"><input maxlength="1" class="inp column i09_01" /></div>
      <div class="square column s09_02"><input maxlength="1" class="inp column i09_02" /></div>
      <div class="square column s09_03"><input maxlength="1" class="inp column i09_03" /></div>
      <div class="square column s09_04"><input maxlength="1" class="inp column i09_04" /></div>
      <div class="square column s09_05"><input maxlength="1" class="inp column i09_05" /></div>
      <div class="square column s09_06"><input maxlength="1" class="inp column i09_06" /></div>
      <div class="square column s09_07"><input maxlength="1" class="inp column i09_07" /></div>
      <div class="square column s09_08"><input maxlength="1" class="inp column i09_08" /></div>
      <div class="square column s09_09"><input maxlength="1" class="inp column i09_09" /></div>
      <div class="square column s09_10"><input maxlength="1" class="inp column i09_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s10_01"><input maxlength="1" class="inp column i10_01" /></div>
      <div class="square column s10_02"><input maxlength="1" class="inp column i10_02" /></div>
      <div class="square column s10_03"><input maxlength="1" class="inp column i10_03" /></div>
      <div class="square column s10_04"><input maxlength="1" class="inp column i10_04" /></div>
      <div class="square column s10_05"><input maxlength="1" class="inp column i10_05" /></div>
      <div class="square column s10_06"><input maxlength="1" class="inp column i10_06" /></div>
      <div class="square column s10_07"><input maxlength="1" class="inp column i10_07" /></div>
      <div class="square column s10_08"><input maxlength="1" class="inp column i10_08" /></div>
      <div class="square column s10_09"><input maxlength="1" class="inp column i10_09" /></div>
      <div class="square column s10_10"><input maxlength="1" class="inp column i10_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s11_01"><input maxlength="1" class="inp column i11_01" /></div>
      <div class="square column s11_02"><input maxlength="1" class="inp column i11_02" /></div>
      <div class="square column s11_03"><input maxlength="1" class="inp column i11_03" /></div>
      <div class="square column s11_04"><input maxlength="1" class="inp column i11_04" /></div>
      <div class="square column s11_05"><input maxlength="1" class="inp column i11_05" /></div>
      <div class="square column s11_06"><input maxlength="1" class="inp column i11_06" /></div>
      <div class="square column s11_07"><input maxlength="1" class="inp column i11_07" /></div>
      <div class="square column s11_08"><input maxlength="1" class="inp column i11_08" /></div>
      <div class="square column s11_09"><input maxlength="1" class="inp column i11_09" /></div>
      <div class="square column s11_10"><input maxlength="1" class="inp column i11_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s12_01"><input maxlength="1" class="inp column i12_01" /></div>
      <div class="square column s12_02"><input maxlength="1" class="inp column i12_02" /></div>
      <div class="square column s12_03"><input maxlength="1" class="inp column i12_03" /></div>
      <div class="square column s12_04"><input maxlength="1" class="inp column i12_04" /></div>
      <div class="square column s12_05"><input maxlength="1" class="inp column i12_05" /></div>
      <div class="square column s12_06"><input maxlength="1" class="inp column i12_06" /></div>
      <div class="square column s12_07"><input maxlength="1" class="inp column i12_07" /></div>
      <div class="square column s12_08"><input maxlength="1" class="inp column i12_08" /></div>
      <div class="square column s12_09"><input maxlength="1" class="inp column i12_09" /></div>
      <div class="square column s12_10"><input maxlength="1" class="inp column i12_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s13_01"><input maxlength="1" class="inp column i13_01" /></div>
      <div class="square column s13_02"><input maxlength="1" class="inp column i13_02" /></div>
      <div class="square column s13_03"><input maxlength="1" class="inp column i13_03" /></div>
      <div class="square column s13_04"><input maxlength="1" class="inp column i13_04" /></div>
      <div class="square column s13_05"><input maxlength="1" class="inp column i13_05" /></div>
      <div class="square column s13_06"><input maxlength="1" class="inp column i13_06" /></div>
      <div class="square column s13_07"><input maxlength="1" class="inp column i13_07" /></div>
      <div class="square column s13_08"><input maxlength="1" class="inp column i13_08" /></div>
      <div class="square column s13_09"><input maxlength="1" class="inp column i13_09" /></div>
      <div class="square column s13_10"><input maxlength="1" class="inp column i13_10" /></div>
    </div>
    <div class="line row">
      <div class="square column s14_01"><input maxlength="1" class="inp column i14_01" /></div>
      <div class="square column s14_02"><input maxlength="1" class="inp column i14_02" /></div>
      <div class="square column s14_03"><input maxlength="1" class="inp column i14_03" /></div>
      <div class="square column s14_04"><input maxlength="1" class="inp column i14_04" /></div>
      <div class="square column s14_05"><input maxlength="1" class="inp column i14_05" /></div>
      <div class="square column s14_06"><input maxlength="1" class="inp column i14_06" /></div>
      <div class="square column s14_07"><input maxlength="1" class="inp column i14_07" /></div>
      <div class="square column s14_08"><input maxlength="1" class="inp column i14_08" /></div>
      <div class="square column s14_09"><input maxlength="1" class="inp column i14_09" /></div>
      <div class="square column s14_10"><input maxlength="1" class="inp column i14_10" /></div>
    </div>


  </ion-content>
</ion-view>
