<ion-view view-title="Chats">
  <ion-content>
    <form >
      <div class="square">
        <input class="segment1 text-center text1" maxlength="1"/>
        <input class="segment1 text-center text2" maxlength="1"/>
        <input class="segment1 text-center text3" maxlength="1"/>
        <input class="segment1 text-center text4" maxlength="1"/>
      </div>
      

      <div class="square">
        <input class="segment2 text-center text5" maxlength="1"/>
        <input class="segment2 text-center text6" maxlength="1"/>
      </div>
      <input type="submit" value="Listo!" />
    </form>
    <div>

    </div>
  </ion-content>
</ion-view>
