<ion-view id="account" view-title="Ahorcado">
  <ion-content id="account1">
    <div id="fondo" style="
  ">
    	<div  class="spray">
    		<img src="img/transparente.png">
    	</div>
      <div class="complete row" >
          <input class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt.focus()"/>
          <input id="txt" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt1.focus()"/>
          <input id="txt1" id="txt" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt2.focus()"/>
          <input id="txt2" class="text-center line_text" maxlength="1" onkeyup="if (this.value.length == this.getAttribute('maxlength')) txt.focus()"/>
       </div>
     </div>
  </ion-content>
</ion-view>
<!--<input name="fecha_dia" type="text" id="fecha_dia" size="2" maxlength="2" onkeyup="if (this.value.length == this.getAttribute('maxlength')) { if (event.keyCode!=9) { getElementById('fecha_mes').focus(); } }">
  / 
  <input name="fecha_mes" type="text" id="fecha_mes" size="2" maxlength="2" onkeyup="if (this.value.length == this.getAttribute('maxlength')) { if (event.keyCode!=9) { getElementById('fecha_anio').focus(); } }">
  /
  <input name="fecha_anio" type="text" id="fecha_anio" size="4" maxlength="4"> 
  (dd/mm/aaaa)-->