<ion-view hide-nav-bar="true" view-title="Textos" class="fondo-synonymous">
	<ion-content >
		<ion-header-bar align-title="left" class="bar-balanced">
			<div class="col three-dimensions d-normal"><i class="icon ion-social-usd-outline">&nbsp; {{score}}</i> </div>
			<div class="col col-40 three-dimensions d-normal"><h1 class="title">Sinonimos</h1></div>
			<div id="timer" class="col three-dimensions d-normal"><i class="icon ion-clock">&nbsp; {{timer}}</i></div>
		</ion-header-bar>
		<div class="middle">
			<div ng-init="loadBefore()" id="contenedor"></div>
<!-- 			<button class="button button-block button-fix button-balanced" ng-click="itemSelected(1)" id="1" name="alternative_sin"  style="width:90%;">Sinonimo</button>
			<button class="button button-block button-fix button-balanced" ng-click="itemSelected(0)" id="0" name="alternative_ant"  style="width:90%;">Antonimo</button> -->
		</div>
	</ion-content>
</ion-view>