/* Empty. Add your own CSS if you like */
#title2, #title3, #title4, #title5, #title6 {
} 
.fondo{
	background-color: #1A1515;
}
.head{
	background-color: #1A1515;
}
.list-inset{
	margin:  10px 10px 10px 10px;
	background: transparent;
}
.niveles{

	background: transparent;
	border:transparent;
	border-radius: 140px; 
	overflow: hidden; 
	-webkit-mask-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#title2, #title3, #title4, #title5, #title6 {
	opacity: 0;
	z-index: -100;
}
/*cambiar*/
#title1{
	opacity: 1;
	 z-index: 100;
}
.link{
	padding-top: 30px;
	text-align: center; 
	
	text-shadow: 0 1px 0 #bbb,
                   0 2px 0 #bbb,
                   0 3px 0 #aaa,
                   0 4px 0 #aaa,
                   0 5px 0 #999,
                   0 6px 1px #000,
                   0 0px 3px #000,
                   0 1px 3px #000,
                   0 3px 5px #000,
               0 5px 10px #000,
               0 5px 20px #000;
	text-transform: uppercase; 
	font-size: 50px;
	background-size: 100% 100%;
}
#radtitle1:checked ~ #title1,
#radtitle2:checked ~ #title2,
#radtitle3:checked ~ #title3,
#radtitle4:checked ~ #title4,
#radtitle5:checked ~ #title5,
#radtitle6:checked ~ #title6 {
 opacity: 1;
 z-index: 100;
}
/* Empty. Add your own CSS if you like */


.line, .scroll {
	
}
.principal{
	height: 100%;
}
.square{
	width: 10%;
	height:  35px;
	float: left;
	border: 1px solid #ccc;
	background-color: #FFD900;
-webkit-box-shadow: inset 5px -5px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: inset 5px -5px 5px 0px rgba(0,0,0,0.6);
box-shadow: inset 5px -5px 5px 0px rgba(0,0,0,0.6);
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #000000;
/*-webkit-box-shadow: inset -10px 11px 13px 2px rgba(219,216,219,1);
-moz-box-shadow: inset -10px 11px 13px 2px rgba(219,216,219,1);
box-shadow: inset -10px 11px 13px 2px rgba(219,216,219,1);*/

}
.inp{
	height: 100%;
	width: 100%;
	background-color: #00BBFF;
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	font-weight:bold;
	display: none;
	visibility: hidden;
}
.i03_04, .i04_04, .i05_04, .i06_04, .i07_04, .i08_04, .i09_04, .i10_04,  .i11_04{
	display: inline;
	visibility: visible;
}
.complete{
	width: 70%;
}
.line_text{
	border: 0px solid;
	border-bottom: 1px solid black;
	margin-left: 5px;
	margin-left: 5px;
	font-size: 23px;
	text-transform: uppercase;
	font-weight:bold;
	width: 20%;
	background : inherit;
}
.spray{
	width: 100%;
	height: 200px;
}
#fondo{
	width: 100%;
    height: 100%;
    background-size: cover;
	background-image: url('http://thumbs.dreamstime.com/z/una-hoja-de-papel-de-un-cuaderno-38220035.jpg');

}
#account, #account1, body {

}
/*.scroll para centrar verticalmente*/
.scroll-content {
 
}
.scroll{
	display: table !important;
	width: 100% !important;
	height: 100% !important;
  
}
.middle{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.full{
	display: table !important;
	width: 100% !important;
	height: 100% !important;
}
.button-fix{
	margin-left: 15px;
}
.fondo-synonymous{
	background-color: #CECECE;
}
.div-header{
	height: 50px;
	top: 0;
	border-top-width: 0;
	border-bottom-width: 0px;
}
.d-card{
	position: relative;
}
.d-corner{
	font-size: 100px;
	top: -999px;
	position: absolute;
	right: -5px;
	z-index: 100;
}
.d-corner-off{
	z-index: -1;
	right: -5px;
	opacity: 0;
	position: absolute;
	transition: all 0.005s ease;
}
.d-corner-down{
	top: -35px;
	z-index: 100;
	position: absolute;
	opacity: 1;
	transition: all 15s ease;
}
/* STYLES*/
.three-dimensions{

	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: none;
	z-index: auto;
	width: auto;
	height: auto;
	position: static;
	cursor: pointer;
	opacity: 1;
	margin: 0;
	padding: 0;
	overflow: visible;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	transition: all 0.5s ease;
}
.d-normal{
	font: normal 20px/normal "Passero One", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
}
.d-small{
	font: normal 15px/normal "Passero One", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
}
.d-focus{
	color: red;
	font: normal 30px/normal "Passero One", Helvetica, sans-serif;
	transition: all 0.05s ease;
}
label.labelDisabled, label.labelDisabled select{
	background: #ccc;
}
label.labelEnabled, label.labelEnabled select{
	background: #fff;
}
.terms-div{
	border: 1px solid black;
	border-radius: 5%;
	overflow: hidden;
	background-color: white;
}
.terms-left{
	border-right: 1px solid black;
}
.terms-light{
	margin: 0px;
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid black;
	cursor: pointer;
	
}
.terms-light-bottom{
	margin: 0px;
	padding-top: 5%;
	padding-bottom: 5%;
	cursor: pointer;
}
.terms-row{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
/*.full-screen{
	width: 100%;
	height: auto;
	vertical-align:middle;

}*/
html { overflow:hidden; }